

@media screen and (min-width:1299.6px){
    .margin-content{
        padding-left: 200px;
        
    }
    
}
@media screen and (max-width:615px){
    .margin-content{
        padding-left: 50px;
        padding-right: 50px;
        
    }
    
}