.about-fill {
    background-color:rgb(238, 224, 211);
}
.about-button{
    background-color: rgb(28, 50, 110);
    border-radius: 0px 25px 25px 25px;
    padding: 7px 55px 7px 55px;
    font-family:sans-serif;
    font-size: 20px;
    margin-top: 5px;
}
.about-button:hover{
    background-color: rgb(6, 24, 73);
    transition: 0.3s;
}


@media(min-width:1299.6px){
    .margin-content{
        padding-left: 200px;
        
    }
    
}









/* @media(max-width:615px){
    .margin-content{
        padding-left: 50px;
        padding-right: 50px;
        
    }
    
} */

button:active{
    background-color: aqua;
}
