.fade-in {
    animation: fade-in 2s;

}
  
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.education-fill{
    background-color: rgb(3, 21, 46);
}
.education-title-font{
    font-size: 65px;
    color: white;
}

.education-padding{
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 75px;
    padding-bottom: 40px;
}
.edu-border{
    border-left: 2px solid rgb(50, 133, 189);
}
.edu-min-height{
    min-height: 200px;
}
.edu-button{
    width: 60px;
    margin: 2px;
    height: 6px;
    background: rgb(86, 106, 134);
    border-radius: 0px;
    transition: 0.3s;
    border: none;
}

.first-button{
    background: rgb(50, 133, 189);
}
.edu-button:hover {
    background-color: rgb(50, 133, 189);
    transition: 0.2s;
}
.edu-button:focus{
    background: rgb(50, 133, 189);
}

.transition{
    transition: 0.3s;
}

@media (min-width: 1299.6px) {
    .education-margin{
        padding-left: 270px;
        padding-right: 50px;
    }
}
@media (max-width:950px) {
    .edu-min-height{
        min-height: 250px;
    }
}
@media (max-width:630px) {
    .edu-min-height{
        min-height: 400px;
    }
}