#toggler{
    transition: .3s;
}
#navitem{
    font-size: 17px;
    padding-inline: 30px;
    color: #a06001;
}
#navitem:hover{
    color: #744500;
    transition: 0.3s;
    transform: scale(1.05,1.05);
}
#social {
    font-size: 25px;
    padding-inline: 5px;
    margin-right: 20px;
}
.line{
    color: rgb(134, 134, 134);
}
.Sidelogo {
    width: 255px;
    padding: 20px 40px 70px 0px;
}

.Navlogo {
    width: 120px;
}

NavItem:hover {
    color: blue;
}

.sidebar {
    height: 100%;
    width: 215px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 20px 0px 0px 0px;
    background-color:currentColor
}
a.item {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #a06001;
    display: block;
}

a.item:hover{
    transition: 0.3s ease-in-out;
    color: #744500;
    transform: scale(1.05,1.05);
}

@media screen and (max-width: 991px){
    #social{
        display: none;
    }
}
@media screen and (min-width: 1200.6px){
    #hideNav {
       display: none;
    }
}

@media screen and (max-width: 1200.5px){
    #hideside {
        display: none;
    }
}