.project-fill{
    background: linear-gradient(to bottom,
    rgba(64, 53, 165, 0.3) 0%,
    rgb(255, 255, 255) 100%)
}
.project-logo{
    font-size: 50px;
    color: rgb(24, 68, 126);
}
.project-font{
    font-size: 50px;
    font-weight: bold;
    color: rgb(1, 10, 63);
}
.project-detail p {
    font-size: 15px;
}
.project-card{
    position: relative;
    padding: 0px 20px 15px 20px;
    margin: 70px 0px 25px 0px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgb(190, 190, 190);
    transition-duration: 0.4s;
}

.project-card-title{
    padding: 0px 0 40px 0;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.project-card:hover{
    border-color: blue;
    cursor: pointer;
    box-shadow: 0px 8px 10px rgb(175, 175, 175), 
        -10px 8px 15px rgb(175, 175, 175), 10px 8px 15px rgb(161, 161, 161);
    
}
.project-margin{
    padding-right: 50px;
    padding-left: 50px;
}
@media (min-width: 1299.6px){
    .project-margin{
        padding-left: 300px;
        
    }
}