
.cv-template-background{
    background:rgba(0, 0, 0, 0.11) ;
}
.column-background{
    background: white;
}


.footer-socials-cv-footer{
    font-size: 22px;
    color: rgb(0, 11, 165);
    transition: 0.1s;
}
.right-border-cv-footer{
    border-right: 2px solid rgb(0, 0, 0);
    padding-right: 9px;
    font-size: 15pt;
}
@media (max-width:600px) {
    .right-border-cv-footer{
        font-size: 12pt;
    }
}
.cv-footer-color{
    background-color: rgb(139, 84, 0);
}
.footer-socials-cv-footer:hover{
    color: rgba(0, 11, 165, 0.486);
    cursor: pointer;
}