.bar{
    padding-right: 50px;
    padding-left: 50px;
}


.Contact-Link{
    border: 1px solid black;
    width: 150px;
    padding: 8px 30px 8px 30px;
}
.offset-fullname{
    margin-bottom: 5px;
    transition: 0.2s;
    font-size: 22pt;
    font-family: system-ui;
}
.offset-fullname:hover {
    transform: scale(0.95,0.95);
    cursor:pointer;

}

/* Collapse Links */
.navLink{
    font-size: 20px;
    color: black;
    transition: 0.1s;
}
.navLink:hover{
    
    color: rgb(104, 104, 104);
}
.underbarItem{
    transition: 0.1s;
}
.underbarItem:hover{
    color: rgb(131, 131, 131)
}

.collapsing {
    transition: 0.4s ease;
}
/* Navbar Socials */
.navbar-socials{
    font-size: 24px;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}
.navbar-socials:hover{
    color: rgb(116, 116, 116);
}

/* underbar Item */
.underbarItem{
    margin-inline: 30px;
}


/* @medias */
@media (min-width: 768px) {
    .bar{
        height: 75px; 
    } 
    .offset-fullname{
        margin-left: 24.1666%;
    }
    .social-div{
        margin-left: 10px;
    }
}

@media screen and (max-width:900px) {
    .offset-fullname{
        font-size: 18pt;
    }
    .navbar-socials{
        font-size: 16pt;
    }
    .underbarItem{
        font-size: 18px;
    }
}
@media (max-width:767.99px) {
    .shadow-small{
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.17);
    }
    
    .social-div{
        margin-left: 11px;
    }
    .navbar-socials{
        font-size: 20px;
    }  
    .bar{
        padding-right: 10px;
        padding-left: 15px;
    }
}

@media (max-width:450px) {
    .offset-fullname{
        font-size: 15pt;
    }
}
@media (max-width:550px) {
    
}
@media (min-width: 991px) {
    .bar{
        height: 90px;
    }
}
@media (min-width:1100px) {
    .offset-fullname{
        margin-left: 27.1666%;
    }
}
@media (min-width:1400px) {
    .offset-fullname{
        margin-left: 28.1666%;
    }
    .bar{
        height: 100px;
    }
    .offset-md-35{
        margin-left: 29.1666%;
    }
}
@media (min-width:1600px) {
    .offset-fullname{
        margin-left: 30.1666%;
    }
}